.home {
   width: 100%;
   display: flex;
   justify-content: center;
   margin-top: 50px;
   padding: 0px 10px;
   position: relative;
}

.home .wrapper {
   width: 100%;
   max-width: 1366px;
   display: flex;
   padding: 0 10px;
   flex-wrap: wrap;
   margin-top: 55px;
}

.home .wrapper h3 {
   position: absolute; 
   top: 0%;
   left: 50%; 
   transform: translate(-50%, -50%);
   z-index: 10;
   margin: 0;
   font-size: 2rem;
   text-align: center;
   font-family: 'Arial', sans-serif;
}



